<!DOCTYPE html>

<html lange="en-US">
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,
	initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="screen and (max-width: 360px)" >
	<!-- importing css(bootstrap) files into html -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<!--<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" type="text/css" href="./css/loginPage.css">
	<link rel="stylesheet" type="text/css" href="./css/index.css">

</head>
<body class="homePage">

	<!--<div id="indexToLoginPage">
			  <form>
			  	<input type="button" value="<" onclick="history.back()">
			  </form>
	</div>-->
	<div class="homeScreenContainer">
		
		<nav class="navbar navbar-light bg-faded" id="navbar">
		  <form class="form-inline">
		  	<input type="button" value="<<" onclick="history.back()">

		    <button onClick="location.href='/myProducts'" id="userProfileBtn" class="btn btn-outline-success" type="button">
		    	<span class="glyphicon glyphicon-user grey"></span>
		    </button>
		    <span class="navbar-text">HOME</span>
		    <button class="btn btn-outline-success" id="searchBtn" type="button">
		    	<span class="glyphicon glyphicon-search grey"></span>
		    </button>
		  </form>


		</nav>

		<!--	<li>
			<div id="indexToLoginPage">
			  <form>
			  	<input type="button" value="<" onclick="history.back()">
			  </form>
			</div>
			</li>

			<li>
				<div class="homeIcon">
				<h3>HOME</h3>
				</div>
			</li>-->

			<!--<div class="dropdown">
			  <button onclick="myFunction()" class="dropbtn" color="white">
			  	<span class="glyphicon glyphicon-menu-hamburger"></span>
			  </button>
			  <div id="myDropdown" class="dropdown-content">
			    <a href="/myProducts">My Products</a>
			    <a href="#">Settings</a>
			  </div>
			</div>-->

		  <!--<div class="cameraPicClass">
			<img src="https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1909558/300/200/m1/fpnw/wm0/camera-thin-line-icon-01-.jpg?1479381787&s=6df90e9016794e8c8181458f469d3e83" alt="Camera" id="cameraPic">
			<button>
				<span class="glyphicon glyphicon-camera" aria-hidden="true">
				<input type="file" accept="image/*">
				<script>
				  const fileInput = document.getElementById('file-input');

				  /*fileInput.addEventListener('change', (e) => doSomethingWithFiles(e.target.files));*/
				</script>
			</button>
		</div>-->

		</div> <!-- end of navBar-->
		
		<div class="homeContainer">	
			
			

			<!--<div class="userFacePic">
				<img src="http://garad.org/uploads/profileImage/noimage.jpg" alt="Lorem Pixel image" id="userFace" class="img-circle" width="50" height="50">
			</div>-->

		</div><!-- end of home container-->

		<div class="popularVideosText" style="font-size: 8; text-align: center; color: pink">
		check out the most popular tutorials of the year!
		</div>
		<div class="scrolling-wrapper">
		  	<div class="topRatedVideos">
		  		<iframe src="https://www.youtube.com/embed/aCubTWCCl5U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

		  		<iframe src="https://www.youtube.com/embed/oKQbHNR6YtQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

		  		<iframe src="https://www.youtube.com/embed/ZmJch5mlQSU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

		  		<iframe src="https://www.youtube.com/embed/u1M2VcWE18g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

		  		<iframe src="https://www.youtube.com/embed/_qdNub2-Q1w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>

		  <!--<img src="https://static.pexels.com/photos/457701/pexels-photo-457701.jpeg" class="img-responsive">

		  <img src="https://static.pexels.com/photos/457701/pexels-photo-457701.jpeg" class="img-responsive">

		  <img src="https://static.pexels.com/photos/457701/pexels-photo-457701.jpeg" class="img-responsive">-->

		</div>

		<!-- SEARCHBAR -->
		<!--<div class="searchBar" align="right">
			<form class="searchForm" action="action_page.php">
			  <input id="searchText" type="text" placeholder="Search.." name="search">
			  <button id="searchBtn" type="submit" id="submitBtn">
			  	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			  </button>
			</form>
		</div>-->

		

		<!--<div class="firstRowContainer">
			<div class="firstRowPic1">
				<a href="https://www.youtube.com">
					<img src="https://static.pexels.com/photos/457701/pexels-photo-457701.jpeg" class="img-responsive">
				</a>
			</div>
			<div class="firstRowPic2">
				<a href="https://www.youtube.com">
					<img src="https://static.pexels.com/photos/457701/pexels-photo-457701.jpeg" class="img-responsive">
				</a>
			</div>

		</div>-->


		<!--<div class="videoContainer">
		{{#each videos}}
		<div class="videos">
			<a href="/video">
				<img src="{{imageURL}}" class="img-responsive">
			</a>		
		</div>
		{{/each}} -->

		<div class="videoContainer">
			<div class="popularVideosText" style="font-size: 8; text-align: center; color: pink">
			click on the pics to see step by step tutorial!
			</div>
		{{#each videos}}
			<div class="videos" id="{{id}}">
					<a href="/video/{{id}}">
						<img src="{{imageURL}}" class="img-responsive">
					</a>
			</div>
		{{/each}}
		</div>

		

		
		<!--<a href="https://www.youtube.com/watch?v=lP9ZrGtvVuU">
			<img src="https://static.pexels.com/photos/457701/pexels-photo-457701.jpeg" class="img-responsive"></a>-->
		

		<!--<div class="firstRowPic2">
				<a href="http://www.youtube.com">
					<img src="https://static.pexels.com/photos/457701/pexels-photo-457701.jpeg" class="img-responsive">
				</a>
		</div>-->
		<!--
		{{#each videos2}}
		<div class="videos2">
			<a href="https://www.youtube.com">
				<img src="{{imageURL}}" class="img-responsive">
			</a>	
			
		</div>
		{{/each}} -->


		<!--<div id="wrap">
			<div style="position:relative; left:20px; top:75px" class="left"></div>
			<div style="position:relative; left:20px; top:75px" class="right"></div>
		</div>

		<div id="wrap2">
			<div style="position:relative; left:20px; top:150px" class="left2"></div>
			<div style="position:relative; left:20px; top:150px" class="right2"></div>
		</div>-->
		
	</div><!-- end of homeScreen container-->

	<!-- importing javascript files into html -->
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<!--<script src="js/bootstrap.min.js"></script>-->
	<script src="js/loginPage.js"></script>
	<script src="js/index.js"></script>


</body>
</html>

