<!DOCTYPE html>

<html lange="en-US">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,
	initial-scale=1.0">
	<!-- importing css(bootstrap) files into html -->
	<!--<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/loginPage.css">-->
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/video.css">

	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>
<body class="videoPage">
	<!--<p id="backBtn"><a href="/index">Back</a></p>-->

	<nav class="navbar navbar-light bg-faded" id="navbar">
		  <form class="form-inline">
	  		<input type="button" value="<" onclick="history.back()">
	  		<div class="navbar-text">{{LookName}}</div>
	  	</form>
	</nav>

	
	<div class="videoSize">
		<iframe src="{{link}}" target="_parent"></iframe>
	</div>

	<!-- Use an element to toggle between a like/dislike icon 
	<i onclick="myFunction(this)" style="color: purple; size: 50px;" class="fa fa-thumbs-up"></i>

	<script>
		function myFunction(x) {
	    x.classList.toggle("fa-thumbs-down");
		}
	</script>-->
	
	<div class="navbar-text" h1 style="font-size: 120%; position: absolute; top: 265px; left: 13px; color: #e59d96; font-family: helvetica;">
		    FACE:</div>
	<div class="FaceProductsScrollingWrapper">
		
		  	<!--<div class="scrollStepsLogin">-->
		  		<div class="faceProdImage">
		  			<img src= "{{FaceProduct1Image}}">
		  			<p>{{FaceProduct1Name}}</p>
		  		</div>
		  		<div class="faceProdImage">
		  			<img src= "{{FaceProduct2Image}}">
		  			<p>{{FaceProduct2Name}}</p>
		  		</div>
		  		<div class="faceProdImage">
		  			<img src= "{{FaceProduct3Image}}">
		  			<p>{{FaceProduct3Name}}</p>
		  		</div>
			<!--</div>-->
    </div>

	<div class="navbar-text" h1 style="font-size: 120%; position: absolute; top: 400px; left: 13px; color: #e59d96; font-family: helvetica;">
		    EYES:</div>
	<div class="EyesProductsScrollingWrapper">
		
		  	<!--<div class="scrollStepsLogin">-->
		  		<div class="eyesProdImage">
		  			<img src= "{{EyesProduct1Image}}">
		  			<p>{{EyesProduct1Name}}</p>
		  		</div>
		  		<div class="eyesProdImage">
		  			<img src= "{{EyesProduct2Image}}">
		  			<p>{{EyesProduct2Name}}</p>
		  		</div>
		  		<div class="eyesProdImage">
		  			<img src= "{{EyesProduct3Image}}">
		  			<p>{{EyesProduct3Name}}</p>
		  		</div>
			<!--</div>-->
    </div>

    <div class="navbar-text" h1 style="font-size: 120%; position: absolute; top: 535px; left: 13px; color: #e59d96; font-family: helvetica;">
		    LIP:</div>
	<div class="LipProductsScrollingWrapper">
				  	<!--<div class="scrollStepsLogin">-->
		  		<div class="lipProdImage">
		  			<img src= "{{LipProduct1Image}}">
		  			<p>{{LipProduct1Name}}</p>
		  		</div>
		  		<div class="lipProdImage">
		  			<img src= "{{LipProduct2Image}}">
		  			<p>{{LipProduct2Name}}</p>
		  		</div>
		  		<div class="lipProdImage">
		  			<img src= "{{LipProduct3Image}}">
		  			<p>{{LipProduct3Name}}</p>
		  		</div>
			<!--</div>-->
    </div>	


	<!--<div>
		<iframe src="{{link}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>-->

	
	<!-- importing javascript files into html -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!--<script src="js/jquery-1.11.0.js"></script>-->
	<!--<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/loginPage.js"></script>
	<script src="js/index.js"></script>-->
	<script src="/js/video.js"></script>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114654008-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-114654008-2');
	</script>



</body>
</html>